:ruby
  lbl_agency= case @user.user_type
    when 'brand_executive' then 'Corporate'
    when 'student' then 'Institution'
    else
      'Agency'
  end

%h2= "#{lbl_agency} Information"
%hr/
.well.span7
  %fieldset
    %legend Search existing #{lbl_agency} Info
    %br/
    .remote-form.form-search{:url => search_agency_path, 'onError' => 'RemoteForm_onError', 'onData' => 'RemoteForm_onData'}
      .notice{style: 'display:none'}

      %input{type: 'search', :placeholder => "Enter Existing #{lbl_agency} Name",
             name: 'name', class: 'validation-required input-medium search-query span5'}
      %input{type: 'button', value: 'Search', class: "btn btn-inverse submit"}

.clearfix

#agency_selection_info.row.span7
  - f.object.agencies.select{|a| a unless a.new_record? }.each do |agency|
    %fieldset.alert.alert-success
      %a.close{'data-dismiss' => 'alert', href: '#'} ×
      %h5
        You are associated with
        %strong
          `#{agency.name}`
      %input{type: 'hidden', name: 'user[agency_ids][]', value: agency.id}

.clearfix
#agency-form-placeholder
#agency_form{style: "display:#{f.object.found_new_agency_with_value? ? 'block' : 'none'}"}
  %fieldset
    = f.fields_for :agencies do |a|
      %legend #{lbl_agency} Details
      %br/
      = a.label :name, "#{lbl_agency} Name"
      = a.text_field :name, :class => 'input span6', :placeholder => "#{lbl_agency} Name"

      = a.label :website, "#{lbl_agency} Website"
      = a.url_field :website, :class => 'input span6', :placeholder => "http://"

      = a.label :email, "#{lbl_agency} Email Address"
      = a.email_field :email, :class => 'input span6', :placeholder => "#{lbl_agency} Email Address"

      = a.label :phone, "#{lbl_agency} Phone"
      = a.phone_field :phone, :class => 'input span6', :placeholder => "#{lbl_agency} Phone"

      %hr/
      %legend #{lbl_agency} Address Information
      = a.label :street, 'Street Address'
      = a.text_field :street, :class => 'input span6', :placeholder => "Enter Road,Street,Block name or number"
      %span.help-inline ex:House-157,Block-D,Shahid Sayem Road

      = a.label :area
      = a.text_field :area, :class => 'input span6', :placeholder => "Area Name"
      %span.help-inline ex:Bashundhara R/A

      = a.label :city
      = a.text_field :city, :class => 'input span6', :placeholder => "City Name"
      %span.help-inline ex:Dhaka

%p
%hr
.clearfix
%fieldset
  %a.btn.btn-warning{href: '#basic_info', 'tab-autoswitch' => ''} < User Information
  = f.submit 'Save Information', :class => 'btn btn-primary'

