%h2 Agency Information
%hr/
%fieldset
  = f.fields_for :agency do |a|
    %legend Agency Details
    %br/
    = a.label :name, 'Agency Name'
    = a.text_field :name, :class => 'input span6', :placeholder => "Name of Your Agency"

    = a.label :website, 'Agency Website'
    = a.url_field :website, :class => 'input span6', :placeholder => "http://"

    = a.label :email, 'Agency Email Address'
    = a.email_field :email, :class => 'input span6', :placeholder => "Agency Email Address"

    = a.label :phone, 'Agency Phone'
    = a.phone_field :phone, :class => 'input span6', :placeholder => "Agency Phone"

    %hr/
    %legend Agency Address Information
    = a.label :street, 'Street Address'
    = a.text_field :street, :class => 'input span6', :placeholder => "Enter Road,Street,Block name or number"
    %span.help-inline ex:House-157,Block-D,Shahid Sayem Road

    = a.label :area
    = a.text_field :area, :class => 'input span6', :placeholder => "Area Name"
    %span.help-inline ex:Bashundhara R/A

    = a.label :city
    = a.text_field :city, :class => 'input span6', :placeholder => "City Name"
    %span.help-inline ex:Dhaka
