%h2 Basic Information
%hr/
%fieldset
  = fields_for :user do |u|
    = u.label :name, 'Submitter\'s Full Name'
    = u.text_field :name, :class => 'input span6', :placeholder => "Submitter\'s Full Name"

    = u.label :designation, 'Your designation in current company'
    = u.text_field :designation, :class => 'input span6', :placeholder => "EX: Account Manager, Marketing Assistant etc..."


    = u.label :email, 'Your email address'
    = u.email_field :email, :class => 'input span5', :placeholder => "Email"
    %span.help-inline This will be your User ID

    = u.label :password
    = u.password_field :password, :class => 'input span5', :placeholder => "Password"

    = u.label :password_confirmation, 'Re-enter password'
    = u.password_field :password_confirmation, :class => 'input span5', :placeholder => "Re-Enter Password"
    %span.span6
      %span.label.label-info Info
      A confirmation email will be sent on submit