= render 'layouts/top_menu'

%header.margin_top_4#header{role: "banner", style: 'margin-top: 100px'}
  .container
    - if alert.present? || notice.present?
      .span11
        - if alert.present?
          .alert.alert-error= alert
        - elsif notice.present?
          .alert.alert-info= notice
      .clearfix

    %h1.span6.title
      The largest annual festival of creativity brought to you by Ad Club.

    %section#homeSelection.span4
      %h2 Advertisers submit nomination entries and Delegates can vote for Popular Choice Award!

      .blc{style: 'margin-top: 10px'}
        = form_tag join_contest_registration_path, :method => :get, :class => 'form-inline' do
          .control-group
            %h3 Select your entry type!
            .controls
            %select.span2#regSelection{name: 'user[user_type]'}
              = options_for_select(User::TYPES.map {|_t| [_t.to_s.humanize, _t]})
            %button.btn.btn-primary{type: "submit"} Go

      - unless signed_in?
        %h4
          Already a member?
          %a{'data-toggle' => "collapse", href: "#entryLogin"} Log In!

        #entryLogin.collapse.margin_top_1
          = form_for(User.new, :url => session_path('user')) do |f|
            .row.span3
              = f.email_field :email, :class => 'input-small', :placeholder => 'Enter Email'
              = f.password_field :password, :class => 'input-small', :placeholder => 'Password'

            .row.span3.clearfix
              %label.checkbox{for: 'user_remember_me'}
                Remember me
                = f.check_box :remember_me, :class => 'checkbox'
              = f.submit 'Sign in', :class => 'btn btn-primary span3'
            .clearfix
