%fieldset
  %legend
    Advert Detail
  = f.label :ad_title, 'Advert Title'
  = f.text_field :ad_title

  = f.label :ad_headline, 'Headline'
  = f.text_field :ad_title

  = f.label :ad_description, 'Project Description'
  = f.text_field :ad_title

  = f.label :ad_rationale, 'Short Rationale'
  = f.text_field :ad_title

  = f.label :ad_consumer_insight, 'Consumer Insight'
  = f.text_field :ad_consumer_insight

