%h2 Advert Detail
%hr/
%fieldset
  = f.label :ad_title, 'Advert Title'
  = f.text_field :ad_title, :class => 'input span6', :placeholder => "Advert Title"

  = f.label :ad_headline, 'Headline'
  = f.text_field :ad_title, :class => 'input span6', :placeholder => "Headline"

  = f.label :ad_description, 'Project Description'
  = f.text_field :ad_title, :class => 'input span6', :placeholder => "Project Description"

  = f.label :ad_rationale, 'Short Rationale'
  = f.text_field :ad_title, :class => 'input span6', :placeholder => "Short Rationale"

  = f.label :ad_consumer_insight, 'Consumer Insight'
  = f.text_field :ad_consumer_insight, :class => 'input span6', :placeholder => "Consumer Insight"

