%h2 Advert Details
%hr/
%fieldset
  = f.label :ad_title, 'Advert Title'
  = f.text_field :ad_title, :class => 'input span6', :placeholder => "Title of you Ad"

  = f.label :ad_headline, 'Headline'
  = f.text_field :ad_headline, :class => 'input span6', :placeholder => "Advert Headline"

  = f.label :ad_description, 'Entry Description'
  = f.text_area :ad_description, :class => 'input span6', :placeholder => "Entry Description...", :rows => 4

  = f.label :ad_rationale, 'Short Rationale'
  = f.text_area :ad_rationale, :class => 'input span6', :placeholder => "Short Rationale Details...", :rows => 4

  = f.label :ad_consumer_insight, 'Consumer Insight'
  = f.text_area :ad_consumer_insight, :class => 'input span6',
                :placeholder => "Write something about the targeted consumers for the advert", :rows => 5


%hr/
%fieldset
  %a.btn.btn-inverse{href: '#media', 'tab-autoswitch' => ''} < Media
  %a.btn.btn-primary{href: '#brand', 'tab-autoswitch' => ''} Next Brand Details >