%fieldset
  %legend
    Credits
  = f.label :account_manager
  = f.text_field :account_manager

  = f.label :creative_directory
  = f.text_field :creative_directory

  = f.label :art_director
  = f.text_field :art_director

  = f.label :copywriter
  = f.text_field :copywriter

  = f.label :illustrator
  = f.text_field :illustrator

  = f.label :photographer
  = f.text_field :photographer

  = f.label :digital_producer
  = f.text_field :digital_producer

  = f.label :creative_developer
  = f.text_field :creative_developer

  = f.label :creative_strategy
  = f.text_field :creative_strategy

  = f.label :sound_director
  = f.text_field :sound_director

  = f.label :additional_credits
  = f.text_area :additional_credits

