%h2 Credits
%hr/
%fieldset
  = f.label :account_manager
  = f.text_field :account_manager, :class => 'input span6', :placeholder => "Account manager's Name"

  = f.label :creative_directory
  = f.text_field :creative_directory, :class => 'input span6', :placeholder => "Creative Director's Name"

  = f.label :art_director
  = f.text_field :art_director, :class => 'input span6', :placeholder => "Art Director's Name"

  = f.label :copywriter
  = f.text_field :copywriter, :class => 'input span6', :placeholder => "Copywriter's Name"

  = f.label :illustrator
  = f.text_field :illustrator, :class => 'input span6', :placeholder => "Illustrator's Name"

  = f.label :photographer
  = f.text_field :photographer, :class => 'input span6', :placeholder => "Photographer's Name"

  = f.label :digital_producer
  = f.text_field :digital_producer, :class => 'input span6', :placeholder => "Digital Producer's Name"

  = f.label :creative_developer
  = f.text_field :creative_developer, :class => 'input span6', :placeholder => "Creative Developer's Name"

  = f.label :creative_strategy
  = f.text_field :creative_strategy, :class => 'input span6', :placeholder => "Creative Strategy"

  = f.label :sound_director
  = f.text_field :sound_director, :class => 'input span6', :placeholder => "Sound Director's Strategy"

  = f.label :additional_credits
  = f.text_area :additional_credits, :class => 'input span6', :placeholder => "Additional Credits"

