%h2 Credits
%hr/
%fieldset
  - [:account_manager, :creative_directory, :art_director, :copywriter,
     :illustrator, :photographer, :digital_producer, :creative_developer,
     :creative_strategy, :sound_director].each do |field|
    = f.label field
    = f.text_field field, :class => 'input span6', :placeholder => "Enter name of #{field.to_s.humanize}"

  = f.label :additional_credits
  = f.text_area :additional_credits, :class => 'input span6',
                :placeholder => "Additional Credits", :rows => 6

