%h2 Media
%hr/
%fieldset
  = f.label :media_type
  = f.text_field :media_type, :class => 'input span6', :placeholder => "Account manager's Name"

  = f.label :published_on
  = f.text_field :published_on, :class => 'date_fields input span6'

  = f.label :category
  = f.select :category, ['Choose one', 'Choose two'], :class => 'input span6'

  = f.label :media_filename
  = f.text_field :media_filename, :class => 'input span6'

  = f.label :proof_filename
  = f.text_field :proof_filename, :class => 'input span6'

