%h2 Media
%hr/
%fieldset
  = f.label :media_type
  = f.select :media_type, ['Video', 'What else?'], :class => 'input span6'

  = f.label :published_on
  = f.text_field :published_on, :class => 'date_fields input span6'

  = f.label :category
  = f.select :category, ['Choose one', 'Choose two'], :class => 'input span6'

  = f.label :media
  = f.file_field :media, :class => 'input span6'

  = f.label :proof
  = f.file_field :proof, :class => 'input span6'

