.well.span8
  .span8
    .row
      %h3
        = project.ad_title
        %small= project.ad_headline
      %p= truncate(project.ad_description, :length => 120)

    .row
      .btn-group.span5{:style => "margin-left: -0px"}
        - if can?(:update_status, Project)
          - if project.pending?
            = link_to 'Approve', update_project_status_path(project, 'approved'), :class => 'btn btn-primary'
            = link_to 'Reject', update_project_status_path(project, 'rejected'),
                      :class => 'btn',
                      :confirm => 'Do you really want to reject this project?'

          - elsif project.rejected?
            = link_to 'Approve', update_project_status_path(project, 'approved'), :class => 'btn btn-success'

        - if can? :show, project
          = link_to 'Show Details', show_project_path(project), :class => 'btn'

        - if can? :edit, project
          = link_to 'Edit', edit_user_project_path(current_user, project), :class => 'btn'

        - if can? :destroy, project
          = link_to 'Delete', user_project_path(current_user, project), :class => 'btn btn-inverse',
                    :method => :delete, :confirm => 'Do you want to remove this entry?'


.clearfix
