- page_title 'Entry Details'

%h1.visuallyhidden Entry Details

= form_for [current_user, @project] do |f|
  %ul.nav.nav-tabs
    %li.active
      %a#media_tab{"data-toggle" => "tab", :href => "#media"} Media
    %li
      %a#ads_tab{"data-toggle" => "tab", :href => "#ads"} Ad Details
    %li
      %a#brand_tab{"data-toggle" => "tab", :href => "#brand"} Brand
    %li
      %a#credit_tab{"data-toggle" => "tab", :href => "#credit"} Credits

    %p.clearfix
    = errors_for(@project).html_safe

    .tab-content
      #media.tab-pane.active
        = render 'media', :f => f
      #ads.tab-pane
        = render 'adverts', :f => f
      #brand.tab-pane
        = render 'brand', :f => f
      #credit.tab-pane
        = render 'credits', :f => f

