= render 'layouts/header'

.container{:role => "main"}
  %h1.visuallyhidden Entry Registration

  - if current_user
    = link_to 'Logout', destroy_user_session_path, :class => 'logout pull-right', :method => :delete
  - else
    = link_to 'Login', new_user_session_path, :class => 'logout pull-right'

  .row.margin_top_4
    = render 'layouts/menu'

    %section.span10.content_section
      - if notice.present?
        %div{style: 'padding: 10px'}
          .alert.alert-success= notice

      - if alert.present?
        %div{style: 'padding: 10px'}
          .alert.alert-message= alert

      .clearfix

      = yield