= render 'layouts/top_menu'

= render 'layouts/header'

.container{:role => "main"}
  %h1.visuallyhidden Entry Registration

  - if current_user
    - if current_user.delegate? && !current_user.paid?
      = link_to 'Make Your Payment', static_page_path(:delegation),
                :style => "margin-right: 5px",
                :class => 'btn logout btn-danger pull-right'

  - else
    = link_to 'Login', new_user_session_path, :class => 'logout pull-right'

  .row.margin_top_4
    = render 'layouts/menu'

    %section.span10.content_section
      - if notice.present?
        %div{style: 'padding: 10px'}
          .alert.alert-success= notice

      - if alert.present?
        %div{style: 'padding: 10px'}
          .alert.alert-message= alert

      .clearfix

      %h1.title= @page_title

      = yield