%h2.visuallyhidden Registration Form
%aside.span2{:role => "contemporary"}
  %h1.visuallyhidden User Sidebar
  %nav.sidenav
    %h1.visuallyhidden User Control
    %ul
      %li
        %i.icon-question-sign
        = link_to 'Entry Help', static_page_path('help')
      %li
        %i.icon-info-sign
        = link_to 'Entry Rules', static_page_path('rules')
      %li
        %i.icon-calendar
        = link_to 'Schedule', static_page_path('schedule')

      - if signed_in?

        - if current_user.admin?
          %li
            %i.icon-ok
            = link_to 'Approved', approved_projects_path

          %li
            %i.icon-list
            = link_to 'Pending Entries', pending_projects_path

          %li
            %i.icon-list
            = link_to 'Rejected', rejected_projects_path

          %li
            %i.icon-list
            = link_to 'All Users', all_users_path(:none)
          - User::TYPES.each do |ut|
            %li
              %i.icon-list
              = link_to ut.to_s.humanize, all_users_path(ut)

        - elsif current_user.advertiser?
          %li
            %i.icon-list
            = link_to 'All Entries', user_projects_path(current_user)
          %li
            %i.icon-plus
            = link_to 'New Entry', new_user_project_path(current_user)

        - else
          %li
            %i.icon-list
            = link_to 'Entries', approved_projects_path