%h2.visuallyhidden Registration Form
%aside.span2{:role => "contemporary"}
  %h1.visuallyhidden User Sidebar
  %nav.sidenav
    %h1.visuallyhidden User Control
    %ul
      %li
        %i.icon-question-sign
        = link_to 'Entry Help', static_page_path('help')
      %li
        %i.icon-info-sign
        = link_to 'Entry Rules', static_page_path('rules')
      %li
        %i.icon-calendar
        = link_to 'Schedule', static_page_path('schedule')

      - if signed_in?
        %li
          %i.icon-list
          = link_to 'All Entries', user_projects_path(current_user)
        %li
          %i.icon-plus
          = link_to 'New Entry', new_user_project_path(current_user)