!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Brandesh #{@page_title ? "- #{@page_title}" : ''}
    %meta{:content => "Few Description", :name => "description"}
    %meta{:content => "Brandesh", :name => "author"}
    %meta{:content => "width=device-width", :name => "viewport"}/

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    - if page_context == :full_page
      = yield
    - else
      = render 'layouts/content'

    = render 'layouts/footer'
    = render 'layouts/sidebar_contents'

    = yield :bottom

:javascript
  jQuery(function () {
   jQuery('.tabs a:last').tab('show')
  })